{% extends "base.html" %}
{% import "elt_display.html" as elt %}

{% block content %}
<form style="display:none" id="hidden-form" method="post" action="/update">
    <input type="text" name="path" value="{{path}}">
    <input type="text" name="left" value="{{left[0]}}">
    <input type="text" name="right" value="{{right[0]}}">
    <input type="text" name="command" id="command">
    <input type="text" name="direction" id="direction">
</form>

<div class="decision-container">
    <div class="decision left"></div>
        {% elt.display(headers, left[1]) %}
    <div class="decision right">
        {% elt.display(headers, right[1]) %}
    </div>
</div>
<div class="footer">
    <div class="footer-buttons">
        <button onclick="execute('SORT', 'l')">Choose (a)</button>
        <button onclick="execute('PASS', 'l')">Pass (q)</button>
        <button onclick="execute('STRIKE', 'l')">Strike (z)</button>
    </div>
    <div class="footer-buttons">
        <button onclick="execute('STRIKE', 'r')">Strike (c)</button>
        <button onclick="execute('PASS', 'r')">Pass (e)</button>
        <button onclick="execute('SORT', 'r')">Choose (d)</button>
    </div>
</div>

<script>
    const command = document.getElementById("command");
    const direction = document.getElementById("direction");
    const form = document.getElementById("hidden-form");
    command_keys = {
        "q": "PASS",
        "e": "PASS",
        "a": "SORT",
        "d": "SORT",
        "z": "STRIKE",
        "c": "STRIKE"
    };
    direction_keys = {
        "q": "l",
        "a": "l",
        "z": "l",
        "e": "r",
        "d": "r",
        "c": "r"
    };
    function execute(comm, dir) {
        command.value = comm;
        direction.value = dir;
        form.submit();
    }
    window.onkeydown = function (event) {
        if (event.key in command_keys) {
            execute(command_keys[event.key], direction_keys[event.key]);
        }
    }
</script>

{% endblock %}