{% extends "base.html" %}
{% import "elt_display.html" as elt %}

{% block content %}
<form style="display:none" id="hidden-form" method="post" action="/update">
    <input type="text" name="path" value="{{path}}">
    <input type="text" name="left" value="{{left[0]}}">
    <input type="text" name="right" value="{{right[0]}}">
    <input type="text" name="command" id="command">
    <input type="text" name="direction" id="direction">
</form>

<div class="decision-container">
    <div class="decision left">  
        {{ elt.display(headers, left[1]) }}
    </div>
    <div class="decision right">
        {{ elt.display(headers, right[1]) }}
    </div>
</div>
{%- if stolen -%}
<div class="stolen-bar">
    <p>You and someone else are both comparing these two entries.  That usually means that there are too many people trying to sort entries at once.</p>
</div>
{%- endif -%}
<div class="choice-bar">
    <div class="choice-buttons">
        <button class="colored" onclick="execute('SORT', 'l')"><span class="material-symbols-outlined left">check</span><span>Choose (a)</span></button>
        <button onclick="execute('PASS', 'l')"><span class="material-symbols-outlined left">done_all</span><span>Full accept (q)</span></button>
        <button onclick="execute('STRIKE', 'l')"><span class="material-symbols-outlined left">delete</span><span>Full reject (z)</span></button>
    </div>
    <div class="choice-buttons">
        <button onclick="window.open('/save')"><span>Save</span><span class="material-symbols-outlined right">save</span></button>
    </div>
    <div class="choice-buttons">
        <button onclick="execute('STRIKE', 'r')"><span>Full reject (c)</span><span class="material-symbols-outlined right">delete</span></button>
        <button onclick="execute('PASS', 'r')"><span>Full accept (e)</span><span class="material-symbols-outlined right">done_all</span></button>
        <button class="colored" onclick="execute('SORT', 'r')"><span>Choose (d)</span><span class="material-symbols-outlined right">check</span></button>
    </div>
</div>

<script>
    if (history.scrollRestoration) {
        history.scrollRestoration = "manual";
    }

    const command = document.getElementById("command");
    const direction = document.getElementById("direction");
    const form = document.getElementById("hidden-form");
    command_keys = {
        "q": "PASS",
        "e": "PASS",
        "a": "SORT",
        "d": "SORT",
        "z": "STRIKE",
        "c": "STRIKE"
    };
    direction_keys = {
        "q": "l",
        "a": "l",
        "z": "l",
        "e": "r",
        "d": "r",
        "c": "r"
    };
    function execute(comm, dir) {
        command.value = comm;
        direction.value = dir;
        form.submit();
    }
    window.onkeydown = function (event) {
        if (event.key in command_keys) {
            execute(command_keys[event.key], direction_keys[event.key]);
        }
    }
</script>

{% endblock %}