{% extends "base.html" %}

{% block content %}
<form method="post" action="/input" enctype="multipart/form-data">
    <div>
    <label for="csv">CSV with header row or Tribunal save file: </label>
    <input type="file" name="csv" id="csv" accept=".csv, .trib">
    </div>
    <div>
    <label for="max_pass">Maximum number of results to accept (or leave blank):</label>
    <input type="number" id"max_pass" name="max_pass">
    </div>
    <div>
    <button type="submit" class="colored"><span>Sort</span><span class="material-symbols-outlined right">arrow_forward</span></button>
    </div>
</form>
{% endblock %}